@use "../../variables.scss";

.signup {
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;

  .heading {
    margin: 1.5rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: variables.$color-primary;
  }

  .inputs-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-input {
      margin: 1rem;
      padding: 1rem;
      width: 40%;
    }

    .custom-btn {
      width: 40%;
      margin: 1rem;
    }
  }
}
