.homepage {
  display: grid;
  grid-template-columns: 250px calc(100vw - 250px);
  grid-template-rows: repeat(1, 100vh);

  @media (max-width: 840px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: min-content auto;
    padding: 0.5rem;
  }
}
