@use "../../variables";

.form-input {
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  color: variables.$color-secondary;
  border: 2px solid variables.$color-bg;
  outline: none;
  transition: border-color 0.15s ease-in-out;

  @media (max-width: 840px) {
    font-size: 0.9rem;
  }

  &:focus {
    border-color: variables.$color-primary;
  }

  &.err {
    border-color: rgba(256, 0, 0, 0.9);
    animation: slide 0.25s ease-in-out;
  }

  @keyframes slide {
    0% {
      transform: translateX(-20px);
    }
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(20px);
    }
    75% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
