@use "../../variables.scss";

.coin-details {
  .coin-title {
    display: flex;
    align-items: center;
    .icon {
      height: 22px;
      margin-right: 0.5rem;
    }
  }

  .coin-current {
    transition: color 0.2s ease-in-out;
  }

  .increasing {
    color: rgba(0, 256, 0, 0.9);
  }

  .decreasing {
    color: rgba(256, 0, 0, 0.9);
  }
}
